<html>

    {{# partial "titulo" }}
        <title>Contacto</title>
    {{/partial}}

    {{# partial "contenido" }}
            <main class="contacto">
                <h2>Contacto</h2>
                <div>
                    </br>
                    </br>
                    <h3>Puede comunicarse con nosotros a traves de los siguientes mails:</h3>
                    <ul>
                        <li>facundobazzi@gmail.com</li>
                        <li>sebastianlerner1999@gmail.com</li>
                        <li>pucciariellomicaela@gmail.com</li>
                        <li>vegafranco97@gmail.com</li>
                    </ul>
                </div>
            </main>
    {{/partial}}

    {{> layout.html.hbs }}
</html>
