<html>
    {{# partial "titulo" }}
        <title>Empresa</title>
    {{/partial}}

    {{# partial "contenido" }}
        <main>
            <section class="categoriasForm">
            <form action="/empresa" method="POST">
                <div>
                    <h2 class="centrado">Crear nueva empresa</h2>
                    <h3>Por favor ingrese los siguientes datos:</h3>
                    </br>
                </div>
                Razón Social: <input type="text" class="fadeIn second" name="RazonSocial" placeholder="Razon Social">
                </br>
                </br>
                CUIT <input type="number" class="fadeIn second" name="CUIT" placeholder="CUIT">
                </br>
                </br>
                <label for="categoria">Seleccione categoría:</label>
                <select name="categoria" id="categorias">
                    {{#categorias}}
                        <option value={{id}}>{{nombre}}</option>
                    {{/categorias}}
                </select>
                </br>
                </br>
                <label for="tipoEmpresa">Tipo de empresa:</label>
                <select name="tipoEmpresa" id="tipoEmpresa">
                    {{#each tiposEmpresas}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                </br>
                </br>
                <input align="right" type="submit" class="crear" value="Crear">
                <a href="/categorias" class="goBack">Volver atrás</a>
            </form>
            </section>
        </main>
    {{/partial}}
{{> layout.html.hbs }}
</html>