<html>
    {{# partial "titulo" }}
        <title>Ocurrió un error</title>
    {{/partial}}

    {{# partial "contenido" }}

            <h1 class="centrado">
                Ocurrió un error
            </h1>
            <br>
            <br>
            <p class="centrado">Ocurrió un error al completar el formulario de creación. Revisá que todos los campos estén completos.</p>
            <br>
            <br>

    {{/partial}}

    {{> layout.html.hbs }}
</html>
