<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="icon" type="image/png" href="/img/icono.png"/>
        {{# block "titulo" }}
        {{/block}}
    </head>

    <body>
        <nav class="menu">
            <a href="/">Home</a>
            <a href="/categorias">Entidades</a>
            <a href="/bandeja">Bandeja de mensajes</a>
            <a href="/contacto">Contacto</a>
        </nav>

        {{# block "contenido" }}
        {{/block}}

    </body>
</html>
