<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="icon" type="image/png" href="/img/icono.png"/>
        <title>Ingresar a GeSoc</title>
    </head>
    <body>
        <main class="login">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Login Form -->
                    <form action="/login" method="POST" class="loginForm">
                        <div class="loginText">
                            <strong>Bienvenido a GeSoc! </strong>
                            </br>
                            Por favor ingrese sus credenciales para continuar
                            </br>
                            </br>
                        </div>
                        <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="user">
                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
